shamefully-hoist=true
# 设置 registry
registry=https://registry.npmmirror.com/
# registry=https://registry.npmjs.org/

# 设置依赖二进制包（node-sass 等）的镜像
sass_binary_site=https://npmmirror.com/mirrors/node-sass/
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/

# 强制使用 HTTPS 协议访问 git 仓库
git-protocol=https
git-always-auth=false
