@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';
@import '@fontsource-variable/jetbrains-mono';

@custom-variant dark (&:is(.dark *));
@source "../../../apps/**/*.{ts,tsx}";
@source "../../../components/**/*.{ts,tsx}";
@source "../../../../node_modules/@ferrucc-io/emoji-picker";
@source "../../../../src/renderer/src/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@plugin "@iconify/tailwind4";

@theme inline {
  --font-sans: "Nunito Sans", Inter, ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono Variable", "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  --font-serif: "Merriweather", Georgia, Cambria, "Times New Roman", serif;
  --font-heading: var(--font-sans);

  --radius-sm: 0.1875rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-surface: var(--surface);
  --color-surface-foreground: var(--surface-foreground);
  --color-code: var(--code);
  --color-code-foreground: var(--code-foreground);
  --color-code-highlight: var(--code-highlight);
  --color-code-number: var(--code-number);
  --color-selection: var(--selection);
  --color-selection-foreground: var(--selection-foreground);

  --shadow-2xs: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.06);
  --shadow-xs: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.06);
  --shadow-sm: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.12), 0px 1px 2px -1px oklch(0.0000 0.0000 0.0000 / 0.12);
  --shadow: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.12), 0px 1px 2px -1px oklch(0.0000 0.0000 0.0000 / 0.12);
  --shadow-md: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.12), 0px 2px 4px -1px oklch(0.0000 0.0000 0.0000 / 0.12);
  --shadow-lg: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.12), 0px 4px 6px -1px oklch(0.0000 0.0000 0.0000 / 0.12);
  --shadow-xl: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.12), 0px 8px 10px -1px oklch(0.0000 0.0000 0.0000 / 0.12);
  --shadow-2xl: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.30);
}

:root {
  --background: oklch(0.9811 0.0068 67.7452);
  --foreground: oklch(0.3170 0.0377 72.3497);
  --card: oklch(0.9967 0.0054 95.0974);
  --card-foreground: oklch(0.0000 0.0000 0.0000);
  --popover: oklch(0.9967 0.0054 95.0974);
  --popover-foreground: oklch(0.0000 0.0000 0.0000);
  --primary: oklch(0.5188 0.1131 61.5030);
  --primary-foreground: oklch(1.0000 0.0000 0.0000);
  --secondary: oklch(0.5938 0.0617 197.0277);
  --secondary-foreground: oklch(0.0000 0.0000 0.0000);
  --muted: oklch(0.9549 0.0114 71.8978);
  --muted-foreground: oklch(0.5726 0.0214 67.3783);
  --accent: oklch(0.7527 0.0835 51.4358);
  --accent-foreground: oklch(0.0000 0.0000 0.0000);
  --destructive: oklch(0.5779 0.0465 184.6453);
  --destructive-foreground: oklch(0.0000 0.0000 0.0000);
  --border: oklch(0.9240 0.0173 67.6112);
  --input: oklch(0.8248 0.0171 70.4967);
  --ring: oklch(0.6194 0.1130 62.0033);
  --sidebar: oklch(0.9811 0.0068 67.7452);
  --sidebar-foreground: oklch(0.0000 0.0000 0.0000);
  --sidebar-primary: oklch(0.5188 0.1131 61.5030);
  --sidebar-primary-foreground: oklch(1.0000 0.0000 0.0000);
  --sidebar-accent: oklch(0.9967 0.0054 95.0974);
  --sidebar-accent-foreground: oklch(0.0000 0.0000 0.0000);
  --sidebar-border: oklch(0.9240 0.0173 67.6112);
  --sidebar-ring: oklch(0.6194 0.1130 62.0033);
  --surface: oklch(0.9967 0.0054 95.0974);
  --surface-foreground: oklch(0.3170 0.0377 72.3497);
  --code: oklch(0.9967 0.0054 95.0974);
  --code-foreground: oklch(0.3170 0.0377 72.3497);
  --code-highlight: oklch(0.9967 0.0054 95.0974);
  --code-number: oklch(0.6792 0.0217 69.8709);
  --selection: oklch(0.3170 0.0377 72.3497);
  --selection-foreground: oklch(0.9811 0.0068 67.7452);
  --chart-1: oklch(0.6124 0.1206 61.3064);
  --chart-2: oklch(0.5989 0.1198 52.0245);
  --chart-3: oklch(0.7761 0.1038 61.9971);
  --chart-4: oklch(0.4168 0.1022 52.3421);
  --chart-5: oklch(0.4255 0.1011 58.6958);
  --radius: 0.375rem;
  --letter-spacing: 0em;
  --font-sans: "Nunito Sans", Inter, ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Merriweather", Georgia, Cambria, "Times New Roman", serif;
  --font-mono: "JetBrains Mono Variable", "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  --radius-sm: 0.1875rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 8px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.12;
  --shadow-color: oklch(0.0000 0.0000 0.0000);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.06);
  --shadow-xs: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.06);
  --shadow-sm: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.12), 0px 1px 2px -1px oklch(0.0000 0.0000 0.0000 / 0.12);
  --shadow: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.12), 0px 1px 2px -1px oklch(0.0000 0.0000 0.0000 / 0.12);
  --shadow-md: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.12), 0px 2px 4px -1px oklch(0.0000 0.0000 0.0000 / 0.12);
  --shadow-lg: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.12), 0px 4px 6px -1px oklch(0.0000 0.0000 0.0000 / 0.12);
  --shadow-xl: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.12), 0px 8px 10px -1px oklch(0.0000 0.0000 0.0000 / 0.12);
  --shadow-2xl: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.30);
}

.dark {
  --background: oklch(0.2294 0.0181 62.9197);
  --foreground: oklch(0.9759 0.0232 82.1223);
  --card: oklch(0.1990 0.0187 62.6180);
  --card-foreground: oklch(1.0000 0.0000 0.0000);
  --popover: oklch(0.1990 0.0187 62.6180);
  --popover-foreground: oklch(1.0000 0.0000 0.0000);
  --primary: oklch(0.7243 0.1197 74.4757);
  --primary-foreground: oklch(0.0000 0.0000 0.0000);
  --secondary: oklch(0.6987 0.1003 188.4380);
  --secondary-foreground: oklch(0.0000 0.0000 0.0000);
  --muted: oklch(0.2270 0.0240 66.1192);
  --muted-foreground: oklch(0.7328 0.0147 67.5960);
  --accent: oklch(0.4255 0.1011 58.6958);
  --accent-foreground: oklch(1.0000 0.0000 0.0000);
  --destructive: oklch(0.6714 0.0523 197.5849);
  --destructive-foreground: oklch(0.0000 0.0000 0.0000);
  --border: oklch(0.3109 0.0269 66.5672);
  --input: oklch(0.4110 0.0273 66.9418);
  --ring: oklch(0.6244 0.1198 73.9233);
  --sidebar: oklch(0.2294 0.0181 62.9197);
  --sidebar-foreground: oklch(1.0000 0.0000 0.0000);
  --sidebar-primary: oklch(0.7243 0.1197 74.4757);
  --sidebar-primary-foreground: oklch(0.0000 0.0000 0.0000);
  --sidebar-accent: oklch(0.1902 0.0189 62.5001);
  --sidebar-accent-foreground: oklch(1.0000 0.0000 0.0000);
  --sidebar-border: oklch(0.3109 0.0269 66.5672);
  --sidebar-ring: oklch(0.6244 0.1198 73.9233);
  --surface: oklch(0.2081 0.0173 58.4890);
  --surface-foreground: oklch(0.9759 0.0232 82.1223);
  --code: oklch(0.2081 0.0173 58.4890);
  --code-foreground: oklch(0.9759 0.0232 82.1223);
  --code-highlight: oklch(0.1902 0.0189 62.5001);
  --code-number: oklch(0.6486 0.0170 67.5212);
  --selection: oklch(0.8266 0.0229 80.6728);
  --selection-foreground: oklch(0.2294 0.0181 62.9197);
  --chart-1: oklch(0.6268 0.1127 74.4669);
  --chart-2: oklch(0.6124 0.1206 61.3064);
  --chart-3: oklch(0.8208 0.1259 74.9107);
  --chart-4: oklch(0.4255 0.1011 58.6958);
  --chart-5: oklch(0.4345 0.0931 71.9550);
  --radius: 0.375rem;
  --letter-spacing: 0em;
  --font-sans: "Nunito Sans", Inter, ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Merriweather", Georgia, Cambria, "Times New Roman", serif;
  --font-mono: "JetBrains Mono Variable", "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  --radius-sm: 0.1875rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 8px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.12;
  --shadow-color: oklch(0.0000 0.0000 0.0000);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.06);
  --shadow-xs: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.06);
  --shadow-sm: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.12), 0px 1px 2px -1px oklch(0.0000 0.0000 0.0000 / 0.12);
  --shadow: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.12), 0px 1px 2px -1px oklch(0.0000 0.0000 0.0000 / 0.12);
  --shadow-md: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.12), 0px 2px 4px -1px oklch(0.0000 0.0000 0.0000 / 0.12);
  --shadow-lg: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.12), 0px 4px 6px -1px oklch(0.0000 0.0000 0.0000 / 0.12);
  --shadow-xl: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.12), 0px 8px 10px -1px oklch(0.0000 0.0000 0.0000 / 0.12);
  --shadow-2xl: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.30);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background font-sans text-foreground antialiased;
    letter-spacing: var(--letter-spacing);
    line-height: 1.6;
  }

  ::selection {
    background: var(--selection);
    color: var(--selection-foreground);
  }
}
