@import './assets/scroll-style.css';
@import 'tailwindcss';
@source "../node_modules/@ferrucc-io/emoji-picker";

@custom-variant dark (&:where(.dark, .dark *));

@plugin "@iconify/tailwind4";

@layer utilities {
  .app-region-drag {
    -webkit-app-region: drag;
  }
  .app-region-no-drag {
    -webkit-app-region: no-drag;
  }
}

:root {
  /* 交互相关颜色 */
  --hover-bg-color: color-mix(in oklab, #000 3%, transparent);
  --border-color: #d9d9d9;

  --appBarHeight: 28px;
  --mainHeight: calc(100dvh - var(--appBarHeight));
  --conversationWidth: 240px;
  --chat-width: calc(100vw - var(--conversationWidth) - 1rem);
  --titleHeight: 50px;
}

.dark:root {
  --hover-bg-color: color-mix(in oklab, #fff 10%, transparent);
  --border-color: #424242;
}

@media (max-width: 768px) {
  :root {
    --chat-width: 100vw;
  }
}

@media (min-width: 1096px) {
  :root {
    --chat-width: 800px;
  }
}

body,
#root {
  width: 100%;
  height: 100dvh;
  overflow: hidden;
}

.scroll-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari 和 Opera */
}

.ant-bubble-list-container::before,
.ant-bubble-list-container::after {
  display: block;
  content: '';
  height: 5px;
  width: 100%;
}

.ant-conversations > li {
  list-style: none;
}

.app-bar {
  /* 让这个区域可以拖动整个窗口 */
  -webkit-app-region: drag;
}
